.sidebar {
  width: 250px;
  transform: translateX(0);
  transition:
    width 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    width: 250px;
    transform: translateX(0);
  }

  &.close {
    width: 0px;
    transform: translateX(-100%);
  }
}
