$duration: 300ms;
$easing: cubic-bezier(0.4, 0, 0.2, 1);

.backdrop {
  animation: backdrop-in $duration $easing forwards;

  &.closing {
    animation: backdrop-out $duration $easing forwards;
  }
}

.modal {
  animation: modal-in $duration $easing forwards;

  &.closing {
    animation: modal-out $duration $easing forwards;
  }
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backdrop-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
