@import "tailwindcss";

$theme-colors: (
  foreground: #2f426b,
);

$theme-colors-dark: (
  foreground: #8fa2b4,
);

.btn {
  @apply min-w-[120px] text-center cursor-pointer rounded-md px-6 py-2 tracking-wide font-semibold transition-all duration-300 ease-in-out;

  &-sm {
    @apply text-sm px-4 py-1;
  }

  &-md {
    @apply text-base px-6 py-2;
  }

  &-lg {
    @apply text-lg px-8 py-3;
  }
}

.ql-container {
  border-radius: 0 0 10px 10px !important;
}

.ql-toolbar {
  border-radius: 10px 10px 0px 0px !important;
}

.ql-picker-label {
  color: var(--foreground) !important;
  font-size: 14px;
}

.ql-editor {
  color: var(--foreground) !important;
  font-size: 14px;
  min-height: 200px;
}

.ql-editor::before {
  color: var(--foreground) !important;
  opacity: 0.5 !important;
}

.ql-fill,
.ql-stroke {
  color: var(--foreground) !important;
  stroke: var(--foreground) !important;
}

.disabled {
  opacity: 0.2;
}

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

// if prefer the theme of the system/browser
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
