@import "tailwindcss";

$theme-colors: (
  foreground: #2f426b,
);

$theme-colors-dark: (
  foreground: #8fa2b4,
);

.ql-container {
  border-radius: 0 0 10px 10px !important;
}

.ql-toolbar {
  border-radius: 10px 10px 0px 0px !important;
}

.ql-picker-label {
  color: var(--foreground) !important;
  font-size: 14px;
}

.ql-editor {
  color: var(--foreground) !important;
  font-size: 14px;
  min-height: 200px;
}

.ql-editor::before {
  color: var(--foreground) !important;
  opacity: 0.5 !important;
}

.ql-fill,
.ql-stroke {
  color: var(--foreground) !important;
  stroke: var(--foreground) !important;
}

.disabled {
  opacity: 0.2;
}

*,
*::before,
*::after {
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
