@import "tailwindcss";

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
