@import "tailwindcss";

$theme-colors: (
  background: #f9fafb,
  background-50: #f9fafb,
  background-100: #edf0f3,
  background-200: #e1e6eb,
  background-300: #d6dde3,
  background-400: #cad3dc,
  background-500: #bec9d4,
  background-600: #b2bfcc,
  background-700: #a7b5c4,
  background-800: #9bacbc,
  background-900: #8fa2b4,
  foreground: #111827,
  foreground-50: #a406ad,
  foreground-100: #354a79,
  foreground-200: #2f426b,
  foreground-300: #293a5e,
  foreground-400: #233150,
  foreground-500: #1d2942,
  foreground-600: #172035,
  foreground-700: #111827,
  foreground-800: #0b1019,
  foreground-900: #05070c,
  primary: #3b82f6,
  primary-50: #86b2f9,
  primary-100: #73a6f9,
  primary-200: #619af8,
  primary-300: #4e8ef7,
  primary-400: #3b82f6,
  primary-500: #2876f5,
  primary-600: #156af4,
  primary-700: #0b60eb,
  primary-800: #0a58d9,
  primary-900: #0951c6,
  secondary: #6b7280,
  secondary-50: #949aa6,
  secondary100: #89909d,
  secondary-200: #7f8694,
  secondary-300: #747c8b,
  secondary-400: #6b7280,
  secondary-500: #626875,
  secondary-600: #595f6b,
  secondary-700: #505560,
  secondary-800: #474c55,
  secondary-900: #3e424b,
  accent: #ccffcb,
  accent-50: #f2fff2,
  accent-100: #dfffdf,
  accent-200: #ccffcb,
  accent-300: #b9ffb7,
  accent-400: #a6ffa4,
  accent-500: #92ff90,
  accent-600: #7fff7d,
  accent-700: #6cff69,
  accent-800: #59ff55,
  accent-900: #45ff42,

  header: var(--background-100),
);

$theme-colors-dark: (
  background: #111827,
  background-50: #a406ad,
  background-100: #354a79,
  background-200: #2f426b,
  background-300: #293a5e,
  background-400: #233150,
  background-500: #1d2942,
  background-600: #172035,
  background-700: #111827,
  background-800: #0b1019,
  background-900: #05070c,
  foreground: #f9fafb,
  foreground-50: #f9fafb,
  foreground-100: #edf0f3,
  foreground-200: #e1e6eb,
  foreground-300: #d6dde3,
  foreground-400: #cad3dc,
  foreground-500: #bec9d4,
  foreground-600: #b2bfcc,
  foreground-700: #a7b5c4,
  foreground-800: #9bacbc,
  foreground-900: #8fa2b4,

  header: var(--background-600),
);

:root {
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
  }
}

[data-theme="dark"] {
  @each $name, $color in $theme-colors-dark {
    --#{$name}: #{$color};
  }
}

@each $name, $color in $theme-colors {
  .text-#{$name} {
    color: var(--#{$name});
  }

  .bg-#{$name} {
    background-color: var(--#{$name});
  }

  .border-#{$name} {
    border-color: var(--#{$name});
  }

  .outline-#{$name} {
    outline-color: var(--#{$name});
  }

  .stroke-#{$name} {
    stroke: var(--#{$name});
  }
}

.btn {
  @apply cursor-pointer px-6 py-2 text-base rounded tracking-wider font-semibold;

  &-primary {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--background);

    &:hover {
      background-color: transparent;
      color: var(--primary);
    }
  }

  &-small {
    @apply text-sm px-4 py-1;
  }

  &-medium {
    @apply text-base px-6 py-2;
  }

  &-large {
    @apply text-lg px-8 py-3;
  }
}

.container {
  @apply p-6 mx-auto;
  max-inline-size: 134rem;
}

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

// if prefer the theme of the system/browser
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
